In [ ]:
%reload_ext autoreload
%autoreload 2

# team

> Fetch team stats for individual games.

In [ ]:
#| default_exp team

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import pandas as pd
import typing

In [ ]:
#| export
def fetch_team_stats(team_id: str, date: typing.Optional[str] = None):
    """
    Fetches all team stats for a particular team or if a date is passed then just for a particular game
    """
    try:
        if date:
            print(f"Fetching team stats for team_id: {team_id} on date: {date}...")
            team_url = f"https://github.com/seanyboi/rugbydata/blob/main/data/v2/team/{team_id}.parquet?raw=true"
            team_stats = pd.read_parquet(team_url, engine="pyarrow")
            team_stats = team_stats.query('game_date == @date')
            return team_stats
        else:
            print(f"Fetching all team stats for team_id: {team_id}...")
            team_url = f"https://github.com/seanyboi/rugbydata/blob/main/data/v2/team/{team_id}.parquet?raw=true"
            team_stats = pd.read_parquet(team_url, engine="pyarrow")
            return team_stats
    except Exception as e:
        print(
            f"No team stats for {team_id} because the team id does not exist. Please raise an issue! - {e}"
        )

In [ ]:
fetch_team_stats(team_id="1")

Fetching all team stats for team_id: 1...

,team,game_date,team_id,team_vs,team_vs_id,match_id,players,clean_breaks,conversion_goals,defenders_beaten,...,scrums_total,scrums_won,tackles,territory,total_free_kicks_conceded,total_lineouts,tries,turnover_knock_on,turnovers_conceded,yellow_cards
0,England,20220205,1,Scotland,2,595081,"[290946, 295853, 294775, 291492, 290913, 28877...",3.0,0.0,8.0,...,8.0,5.0,95.0,0.62,2.0,17.0,1.0,5.0,10.0,1.0
1,England,20220213,1,Italy,20,595085,"[290946, 298470, 295853, 294775, 291492, 29091...",10.0,4.0,19.0,...,4.0,4.0,96.0,0.42,2.0,17.0,5.0,11.0,20.0,0.0
2,England,20220226,1,Wales,4,595087,"[290946, 295853, 294775, 291492, 290913, 28877...",2.0,0.0,19.0,...,5.0,3.0,164.0,0.52,1.0,8.0,1.0,8.0,12.0,0.0
3,England,20220312,1,Ireland,3,595091,"[290946, 295853, 294775, 291594, 290913, 28877...",1.0,0.0,7.0,...,10.0,7.0,137.0,0.39,2.0,15.0,0.0,3.0,6.0,0.0
4,England,20220319,1,France,9,595094,"[290946, 298470, 295853, 294775, 292191, 29149...",2.0,1.0,18.0,...,6.0,5.0,103.0,0.56,1.0,12.0,1.0,4.0,10.0,0.0
5,England,20230204,1,Scotland,2,596206,"[82092, 298470, 296838, 295853, 294775, 294037...",2.0,1.0,22.0,...,2.0,2.0,101.0,0.71,1.0,16.0,3.0,10.0,9.0,0.0
6,England,20230212,1,Italy,20,596210,"[82092, 300459, 298470, 296838, 295853, 294775...",4.0,2.0,21.0,...,9.0,7.0,171.0,0.59,1.0,21.0,5.0,20.0,15.0,0.0
7,England,20230225,1,Wales,4,596212,"[82092, 300459, 298470, 296838, 295853, 294775...",8.0,1.0,16.0,...,8.0,6.0,170.0,0.55,2.0,5.0,3.0,20.0,21.0,0.0
8,England,20230311,1,France,9,596215,"[290946, 300459, 298470, 296838, 295853, 29477...",1.0,1.0,20.0,...,5.0,5.0,115.0,0.56,0.0,13.0,1.0,24.0,18.0,0.0
9,England,20230318,1,Ireland,3,596219,"[82092, 300459, 296838, 295853, 294775, 291492...",1.0,1.0,15.0,...,9.0,6.0,147.0,0.49,1.0,11.0,1.0,8.0,11.0,1.0
10,England,20230909,1,Argentina,10,596158,"[105032, 300475, 298470, 296843, 295853, 29403...",1.0,0.0,10.0,...,11.0,8.0,142.0,0.46,1.0,7.0,0.0,2.0,8.0,0.0
11,England,20230917,1,Japan,23,596169,"[105032, 300475, 298470, 296843, 295853, 29403...",8.0,4.0,24.0,...,11.0,9.0,83.0,0.61,3.0,13.0,4.0,9.0,16.0,0.0
12,England,20230923,1,Chile,289243,596174,"[82092, 300475, 300459, 298470, 296843, 295135...",15.0,8.0,28.0,...,9.0,8.0,103.0,0.58,1.0,11.0,11.0,4.0,11.0,0.0
13,England,20231007,1,Samoa,15,596189,"[82092, 300475, 298470, 296843, 295853, 294037...",8.0,1.0,26.0,...,10.0,8.0,126.0,0.49,2.0,20.0,2.0,9.0,16.0,0.0
14,England,20231015,1,Fiji,14,596196,"[82092, 300475, 298470, 296843, 294037, 290946...",3.0,1.0,29.0,...,5.0,4.0,151.0,0.45,0.0,11.0,2.0,4.0,12.0,0.0
15,England,20231021,1,South Africa,5,596199,"[82092, 300475, 298470, 296843, 295853, 294037...",0.0,0.0,14.0,...,7.0,3.0,89.0,0.49,0.0,10.0,0.0,10.0,14.0,0.0
16,England,20231027,1,Argentina,10,596200,"[82092, 300475, 300459, 298470, 295853, 295135...",4.0,2.0,14.0,...,12.0,9.0,175.0,0.50,0.0,8.0,2.0,5.0,6.0,0.0
17,England,20240203,1,Italy,20,597378,"[105032, 301432, 300475, 299386, 299147, 29847...",4.0,1.0,25.0,...,4.0,2.0,108.0,0.59,1.0,12.0,2.0,7.0,10.0,1.0
18,England,20240210,1,Wales,4,597381,"[105032, 301432, 300475, 299386, 299147, 29847...",5.0,0.0,22.0,...,11.0,7.0,149.0,0.61,1.0,12.0,2.0,9.0,14.0,2.0
19,England,20240224,1,Scotland,2,597384,"[105032, 301432, 300475, 299386, 299147, 29847...",4.0,1.0,22.0,...,3.0,3.0,105.0,0.57,3.0,14.0,2.0,13.0,22.0,0.0
20,England,20240309,1,Ireland,3,597387,"[290946, 105032, 301432, 300475, 299386, 29847...",8.0,1.0,25.0,...,3.0,3.0,120.0,0.60,0.0,15.0,3.0,6.0,13.0,0.0
21,England,20240316,1,France,9,597391,"[105032, 300475, 298470, 296843, 296841, 29679...",7.0,4.0,18.0,...,3.0,3.0,140.0,0.48,0.0,15.0,4.0,7.0,14.0,0.0

In [ ]:
fetch_team_stats(team_id="1", date="20240316")

Fetching team stats for team_id: 1 on date: 20240316...

,team,game_date,team_id,team_vs,team_vs_id,match_id,players,clean_breaks,conversion_goals,defenders_beaten,...,scrums_total,scrums_won,tackles,territory,total_free_kicks_conceded,total_lineouts,tries,turnover_knock_on,turnovers_conceded,yellow_cards
21,England,20240316,1,France,9,597391,"[105032, 300475, 298470, 296843, 296841, 29679...",7.0,4.0,18.0,...,3.0,3.0,140.0,0.48,0.0,15.0,4.0,7.0,14.0,0.0

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()